*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #6592CF;
}
.circulo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #243D83;
}
.retangulo{
    width: 24px;
    height: 88px;
    background-color: #243D83;
    justify-self: center;
}
.boneco1{
    display: flex;
    flex-direction: column;
}