*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #6592CF;
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    padding-right: 8vw;
    gap: 7vw;
}
p{
    width: 24px;
    height: 150px;
    background-color: #243D83;
    position: relative;
}
p::before{
    content: '';
    background-color: #243D83;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
p:nth-child(3){
    margin-right: 20vw;
}
p:nth-child(1)::after{
    content: '';
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #EEB850;
    position: absolute;
    top: -10vh;
    left: -3.5vw;
    z-index: -1;
}
p:nth-child(3)::after{
    content: '';
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #EEB850;
    position: absolute;
    top: -10vh;
    left: -3.5vw;
    z-index: -1;
}
p:nth-child(2)::after{
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #EEB850;
    position: absolute;
    top: -19vh;
    left: -5.5vw;
    z-index: -1;
}